version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    open-pull-requests-limit: 3
    reviewers:
      - "janisz"
    schedule:
      interval: 'weekly'
      day: 'wednesday'
  - package-ecosystem: 'gomod'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'wednesday'
    open-pull-requests-limit: 3
    reviewers:
      - "janisz"
    groups:
      k8s.io:
        patterns:
          - "k8s.io/*"
  - package-ecosystem: 'gomod'
    directory: 'tool-imports'
    schedule:
      interval: 'weekly'
      day: 'wednesday'
    open-pull-requests-limit: 3
    reviewers:
      - "janisz"
