executors:
  custom:
    docker:
      - image: cimg/go:1.15

runOnAllTags: &runOnAllTags
  filters:
    tags:
      only: /.*/

version: 2.1

jobs:
  lint:
    executor: custom
    steps:
    - checkout

    - run:
        name: Run lint checks
        command: |
          make lint

    - run:
        name: Ensure generated docs are up-to-date
        command: |
          make generated-docs
          git diff --exit-code HEAD

  test:
    executor: custom
    steps:
    - checkout
    - run:
        name: Run unit tests
        command: |
          make test

  build:
    executor: custom
    steps:
    - checkout

    - run:
        name: Build binaries
        command: |
          make build

    - run:
        name: Ensure `kube-linter version` returns the expected value.
        command: |
          version="$(.gobin/kube-linter version)"
          expected_version="$(./get-tag)"
          echo "Version from kube-linter: ${version}. Expected version: ${expected_version}"
          [[ "${version}" == "${expected_version}" ]]

    - run:
        name: Create a GitHub release, if on tag.
        command: |
          if [[ -n "${CIRCLE_TAG}" ]]; then
            wget --quiet https://github.com/gruntwork-io/fetch/releases/download/v0.3.5/fetch_linux_amd64
            sudo install fetch_linux_amd64 /usr/bin/fetch
            ghr_version="v0.13.0"
            fetch --repo="https://github.com/tcnksm/ghr" --tag="${ghr_version}" --release-asset="ghr_${ghr_version}_linux_amd64.tar.gz" .
            tar -zxvf ghr_${ghr_version}_linux_amd64.tar.gz
            sudo install ghr_${ghr_version}_linux_amd64/ghr /usr/bin/ghr
            which ghr
            ./scripts/create_github_release.sh "${CIRCLE_TAG}" ./bin
          fi


workflows:
  version: 2
  build:
    jobs:
    - lint:
        <<: *runOnAllTags
    - test:
        <<: *runOnAllTags
    - build:
        <<: *runOnAllTags
