executors:
  custom:
    docker:
      - image: cimg/go:1.15

runOnAllTags: &runOnAllTags
  filters:
    tags:
      only: /.*/

version: 2.1

jobs:
  lint:
    executor: custom
    steps:
    - checkout

    - run:
        name: Run lint checks
        command: |
          make lint

    - run:
        name: Ensure generated docs are up-to-date
        command: |
          make generated-docs
          git diff --exit-code HEAD

  test:
    executor: custom
    steps:
    - checkout
    - run:
        name: Run unit tests
        command: |
          make test

  build:
    executor: custom
    steps:
    - checkout

    - run:
        name: Build binaries
        command: |
          make build

    - run:
        name: Ensure `kube-linter version` returns the expected value.
        command: |
          version="$(.gobin/kube-linter version)"
          expected_version="$(./get-tag)"
          echo "Version from kube-linter: ${version}. Expected version: ${expected_version}"
          [[ "${version}" == "${expected_version}" ]]

    - run:
        name: Create a GitHub release, if on tag.
        command: |
          if [[ -n "${CIRCLE_TAG}" ]]; then

          fi


workflows:
  version: 2
  build:
    jobs:
    - lint:
        <<: *runOnAllTags
    - test:
        <<: *runOnAllTags
    - build:
        <<: *runOnAllTags
