executors:
  custom:
    docker:
      - image: cimg/go:1.15

version: 2.1

jobs:
  lint:
    executor: custom
    steps:
    - checkout

    - run:
        name: Run lint checks
        command: |
          make lint

    - run:
        name: Ensure generated docs are up-to-date
        command: |
          make build
          git diff --exit-code HEAD

  test:
    executor: custom
    steps:
    - checkout
    - run:
        name: Run unit tests
        command: |
          make test

workflows:
  version: 2
  build:
    jobs:
    - lint:
        filters:
          tags:
            only: /.*/
    - test:
        filters:
          tags:
            only: /.*/
